{%load static%}
<!DOCTYPE html>

<html>

<head>

 <title>Table layout</title>

 <link rel="stylesheet" href="{%static 'drive.css' %}">
 <link rel="stylesheet" href="{%static 'style.css'%}">
<line rel="stylesheet" href="{%static 'footer.css'%}">
</head>
<body style="background-color: black; display: inline;">
  <div style="color:black;" >{%include 'navbar.html' %}</div>
 <table style="margin-top: 30px;" >

 <tr>

 <th>#</th>

 <th>Name</th>

 <th>date</th>

 <th>access</th>

 <th>download</th>

 <th>delete</th>

 </tr>
 {% for i in upload %}
  <tr>
 <td>{{i.File_id}}</td>
 <td>{{i.Title}}</td>
 <td>{{i.Date}}</td>
 <td> <a href="{{i.File.url}}">view</a></td>
 <td><a href="{{i.File.url}}" download>download</a></td>
 <td><a href="delete/{{i.File_id}}">delete</a></td>
 </tr>
 {% endfor %}


 </table>
 <div style="margin: 600px;">{%include 'footer.html'%}</div>

 </body>
