<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="lg:hidden sticky top-0 z-40">
      <div>
        <div class="sticky top-0z-40 bg-dark">
          <div class="flex h-16 px-6 justify-between items-center">
            <button type="button" class="lg:hidden">
              <span class="sr-only">Open sidebar</span
              ><img src="/img/mobile/menu.png" alt="" />
            </button>
            <div>
              <a href="/"
                ><img src="/img/meesho-logo.png" alt="meesho logo" class="w-20"
              /></a>
            </div>
            <div>
              <a
                href="/jobs"
                class="px-5 bg-primary text-white rounded-xl text-sm py-1"
                >Join Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>hello this is varun sharma</p>
    {%if user.is_authenticated %}
    <a href="drive"><button>DRIVE</button></a>
    <a href="logout"><button>LOGOUT</button></a>
    {%else%}
    <a href="register"><button>register</button></a>
    <a href="login"><button>login</button></a>
    {%endif%}
  </body>
</html>
