<!DOCTYPE html>
<html lang="en">
{%load static%}  
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'table.css' %}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
   <line rel="stylesheet" href="{%static 'footer.css'%}">
    <title>Document</title>
  </head>
  <body>
    <div style="height: 100%; background-color: black;">{%include 'navbar.html'%}</div>
    <div style="margin-top: 100px;">
    <form id="register" class="input-group" method="POST">
      {% csrf_token %}
      <input
        type="text"
        name="first_name"
        class="input-field"
        placeholder="First Name"
        required=""
      />
      <input
        type="text"
        name="last_name"
        class="input-field"
        placeholder="Last Name"
        required=""
      />
      <input
        type="text"
        name="User_id"
        class="input-field"
        placeholder="User Id"
        required=""
      />
      <input
        type="email"
        name="email"
        class="input-field"
        placeholder="Email Id"
        required=""
      />
      <input
        type="text"
        name="password1"
        class="input-field"
        placeholder="Enter password"
        required=""
      />
      <input
        type="text"
        name="password2"
        class="input-field"
        placeholder="Enter password"
        required=""
      />
      <button type="submit" class="submit-btn">Register</button>
    </form>
  </div>
  </body>
</html>
