{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <line rel="stylesheet" href="{%static 'footer.css'%}">
    <link rel="stylesheet" href="{%static 'index.css'%}">
    <title>Document</title>
  </head>
  <body style="display: block;">
    <div style="padding-bottom: 90px; background-color: black;">{%include 'navbar.html'%}</div>
    <div style="margin-top: 20px; display: block;">
    <h1> Upload File Here !!!!!!</h1>
    <form method="post">
      {%csrf_token%}
      <label>Title :</label>
      <input type="text" name="title" placeholder="Title of file" /></br></br>
      <label> Choose the File to upload : </label>
      <input type="file" id="myFile" name="file" /> <br /><br />
      <input type="submit" value="Upload" style="font-size: 20px; margin-left: 40px;"/>
    </form>
  </div>
  <div style="margin-top: 200px;">{%include 'footer.html'%}</div>
  </body>
</html>
